.item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: table;
  table-layout: fixed;
}

.item.even {
  background-color: var(--dark);
}

.row {
  display: table-row;
  min-height: 150px;
}

.cell {
  padding: 15px 10px;
  display: table-cell;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border: var(--border-color) solid 1px;
  border-top: none;
  flex-wrap: wrap;
}

.cell:last-child {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
